# ไฟล์ที่สร้างโดยระบบปฏิบัติการ
.DS_Store
Thumbs.db


# ไฟล์ Log และข้อมูลชั่วคราว
*.log
*.tmp
*.swo
*.png
*.jpg
*.jpeg
*.onnxx
*.pt
*.xlxs
*.bag
*.csv
node_modules/
dataset/
ptR1App/dist/
.vscode/
build/
ptR1App/bus.jpg




