<launch> 
    <!-- Start ROSBridge WebSocket -->
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <node name="navigation_node" pkg="ptR1_navigation" type="navigation_node.py" output="screen" />
    <node name="stream_manager_node" pkg="ptR1_navigation" type="stream_manager_node.py" output="screen" />
    <node name="pi_monitor_node" pkg="ptR1_navigation" type="pi_monitor_node.py" output="screen" />S
</launch>
